{{>partials/header}}
<ul>
    {{#session.userId}}
    <li><a href="/">Página Inicial</a></li>
    <li><a href="/logout">Sair</a></li>
    {{/session.userId}}
</ul>

<h1>Página Inicial do site</h1>

Página Inicial

{{>partials/footer}}