{{>partials/header}}

<h1>Login</h1>

<p>Digite seu e-mail e senha</p>

<form action="/login" method="post">

    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite seu nome" required>
    </div>

    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha" required>
    </div>


    <input type="submit" value="Entrar">

    <div>
        {{error}}
    </div>

</form>




<p>Ainda não tem um cadastro?  <a class="link" href="/register">Crie uma conta</a></p>

{{>partials/footer}}