{{>partials/header}}

<h1>Login</h1>

<p>Digite seu e-mail e senha</p>

<form action="/login" method="post">
   
    <div>
        <input class="campo" name="email" type="email" placeholder="E-mail" id="email">
    </div>

    <div>
        <input name="senha" type="password" placeholder="Senha" id="senha">
    </div>

    <h2>

    </h2>

    <button>Entrar</button>

</form>

<p>Esqueceu sua senha? <a class="link" href="">Clique Aqui</a></p>
<p>Ainda não tem uma conta?  <a class="link" href="/cadastro">Crie uma</a></p>

{{>partials/footer}}