{{>partials/header}}


<div>
    <h1>Registrar</h1>
</div>

<p>Preencha as informações abaixo:</p>

<form action="/register" method="post">

    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite seu nome" required>
    </div>


    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu e-mail" required>
    </div>

    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Digite sua senha" required>
    </div>

    <div>
        <label for="confirm-password">Confirmar senha:</label>
        <input type="password" name="confirmpassword" placeholder="Confirme sua senha" required>
    </div>

    <input type="submit" value="Cadastrar">

    <div>
        {{error}}
    </div>


</form>



<p>Já possui uma conta?<a class="link" href="/login"><u>Faça login</u></a></p>




{{>partials/footer}}